extends layout

block content
  if user 
    div.ly_subHeader
     div.loginInfo 現在 #{user.username}/#{user.id} でログイン中です
     div.ly_ancor
        ul
          li
            a(href="/logout") ログアウト
          li
            a(href="/diary/new") 日記を作る
          li
            a(href="/users") 日記一覧へ
          li
            a(href="/list/new") 予定を作る
  div.ly_listForm
    div.bl_listFrom
      div.bl_listForm_title 予定作成フォーム
      div
        form(action='/list/create' method='post' encType="multipart/form-data")
         div
          span タイトル (文字数制限：18文字) :　
          input(type="text" name="listName" class="el_textForm")
          br
          span 所在地 :　
          input(type="text", name="listPlace" class="el_textForm")
          br 
          span.bl_listForm_pict 写真 :　
          input(type="file", name="listPict")
          br
          each listComment in listComments
           span.bl_listForm_todo やりたいこと その#{listComment}
           br
           input(type="text", name=`listCommentTitle${listComment}` class="el_textForm el_textForm__subTitle")
           br
           span 詳細 :
           br
           textarea(name=`listCommentCont${listComment}`, cols="50", rows="3" class="el_textarea")
           br
         button(type="submit" class="el_submitButton") 提出